# CMake build directory
/build/
/out/

# IDE files
/.vs/
/.idea/
/*.user
/*.suo

# Local or temp files
/bin/
/lib/
_deps/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.exe
*.txt
*.log
*.zip
